<div id="sidebar" class="sidebar">
    <div class="icon-item">
        <i class="fas fa-info-circle" style="color: #f1c40f;"></i>
        <p>Informações</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-calendar-alt" style="color: #27ae60;"></i>
        <p>Calendário</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-th" style="color: #f39c12;"></i>
        <p>Grade de Horários</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-chart-bar" style="color: #3498db;"></i>
        <p>Notas e Frequências</p>
    </div>
    <div class="icon-item">
        <i class="fab fa-microsoft" style="color: #6c5ce7;"></i>
        <p>Teams</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-chalkboard-teacher" style="color: #e74c3c;"></i>
        <p>Canvas</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-handshake" style="color: #16a085;"></i>
        <p>Parcerias</p>
    </div>
</div>