<div id="sidebar" class="sidebar">
    <div class="icon-item">
        <i class="fas fa-user-tie" style="color: #16a085;"></i>
        <p>Funcionários</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-user-graduate" style="color: #3498db;"></i>
        <p>Alunos</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-chalkboard-teacher" style="color: #6c5ce7;"></i>
        <p>Cursos</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-file-alt" style="color: #e74c3c;"></i>
        <p>Disciplinas</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-dollar-sign" style="color: #f39c12;"></i>
        <p>Mensalidades</p>
    </div>
    <div class="icon-item">
        <i class="fas fa-cog" style="color: #797874;"></i>
        <p>Perifl</p>
    </div>
</div>