<%- include('partials/header.html') %>

<!-- Container Principal -->
<div class="container mt-5">
    <!-- Cabeçalho com título -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Cadastro de Aluno</h2>
    </div>

    <hr>

    <!-- Formulário de Cadastro de Aluno -->
    <div class="form-container">
        <form class="row g-3" method="POST" action="/aluno/cadastrar">
            <div class="col-md-12">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Telefone do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="data" class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="col-md-6">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="Login do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha do Aluno" required>
            </div>
            <div class="col-md-6">
                <label for="cursoId" class="form-label">ID do Curso</label>
                <input type="number" class="form-control" id="cursoId" name="cursoId" placeholder="ID do Curso" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block mt-4">
                    <i class="fas fa-save"></i> Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const alertMessage = document.getElementById('alert-message');

        if (alertMessage) {
            Swal.fire({
                icon: alertMessage.dataset.type === "success" ? "success" : "error",
                title: alertMessage.dataset.type === "success" ? "Sucesso" : "Erro",
                html: alertMessage.dataset.message,
                showConfirmButton: true,
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed && alertMessage.dataset.type === "success") {
                    window.location.href = '/funcionarios';
                }
            });
        }
    });
</script>

<%- include('partials/footer.html') %>
