<%- include('partials/header.html') %>
    <!-- Container Principal -->
    <div id="cursos-container" class="container mt-5">
        <h2 style="text-align: center;">GRADE CURRICULAR</h2>
        <hr>
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col-md-12">
                    <h5>Formação:</h5>
                    <div id="periodosContainer"></div>
                </div>
            </div>
        </div>

        <script>
            const curso = <%- JSON.stringify(curso) %>;

            function renderPeriodos() {
                const container = document.getElementById('periodosContainer');
                container.innerHTML = '';

                for (let i = 1; i <= curso.duracao; i++) {
                    const periodoHtml = `
                        <h6 class="text-black p-2" style=" box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  display: flex; justify-content: space-between; align-items: center; cursor: pointer;" onclick="toggleList(${i})">
                            <span>${i}° Semestre</span>
                            <button class="btn btn-primary btn-sm" style="background-color: #3295ff;" onclick="window.location.href='/adicionar-funcionario'; event.stopPropagation();">
                                <i class="fas fa-plus"></i>
                            </button>
                        </h6>
                    `;

                    const disciplinasHtml = curso.disciplinas
                        .filter(disciplina => disciplina.periodo === i)
                        .map(disciplina => `
                            <li>
                                <a href="#" class="text-decoration-none text-dark d-block w-100 py-2 px-3">
                                    ${disciplina.disciplina.nome}
                                </a>
                            </li>
                        `)
                        .join('');

                    const periodoContentHtml = `
                        <ul id="subjectList-${i}" class="list-unstyled mt-3" style="max-height: 0; overflow: hidden; transition: max-height 0.5s ease-out;">
                            ${disciplinasHtml}
                        </ul>
                    `;

                    container.innerHTML += '<div>' + periodoHtml + periodoContentHtml + '</div>';
                }
            }

            function toggleList(index) {
                const list = document.getElementById(`subjectList-${index}`);
                if (list.style.maxHeight === "0px" || list.style.maxHeight === "") {
                    list.style.maxHeight = list.scrollHeight + "px";
                } else {
                    list.style.maxHeight = "0px";
                }
            }

            renderPeriodos();
        </script>




        <%- include('partials/footer.html') %>