<%- include('partials/header.html') %>

<!-- Container Principal -->
<div id="cursos-container" class="container mt-4">
    <div class="header d-flex justify-content-between align-items-center">
      <h2>Cursos<%= funcionario.usuario.nome %></a></h2>
    </div>
    <hr>
    
</div>

<%- include('partials/footer.html') %>
